---
layout: default
---

{% include sidebar.html %}

<div class="content">
  <article>
    <h1>{% t pages.algorithms.title %}</h1>
  </article>

  <article>
    <h2>{% t pages.algorithms.sorting.title %}</h2>
    <p>{% t pages.algorithms.sorting.description %}</p>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.bubble_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.bubble_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n)</td>
          <td>&theta;(n^2)</td>
          <td>O(n^2)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.bubble_sort.title %}</p>
{% highlight ruby %}
  class Array
    def swap(first, second)
      self[first], self[second] = self[second], self[first]
      self
    end

    def bubble_sort!
      loop do
        swapped = false
        (self.size - 1).times do |index|
          if self[index] > self[index + 1]
            swap index, index + 1
            swapped = true
          end
        end
        break unless swapped
      end

      self
    end
  end

  # [5, 4, 3, 1, 2].bubble_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.bubble_sort.title %}</p>
{% highlight ruby %}
  def bubble_sort!
    length.times do |j|
      for i in 1...(length - j)
        swap i - 1, i if self[i - 1] < self[i]
      end
    end

    self
  end
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.bubble_sort.title %}</p>
{% highlight ruby %}
  def bubble_sort!
    each_index do |index|
      (length - 1).downto(index) do |i|
        swap i - 1, i if self[i - 1] < self[i]
      end
    end

    self
  end
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Bubble_sort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.insertion_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.insertion_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n)</td>
          <td>&theta;(n^2)</td>
          <td>O(n^2)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.insertion_sort.title %}</p>
{% highlight ruby %}
  class Array
    def insertion_sort!
      return self if length < 2

      1.upto(length - 1) do |i|
        value = self[i]
        j = i - 1
        while j >= 0 && self[j] > value
          self[j + 1] = self[j]
          j -= 1
        end
        self[j + 1] = value
      end

      self
    end
  end

  # [5, 4, 3, 1, 2].insertion_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Insertion_sort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.selection_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.selection_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n^2)</td>
          <td>&theta;(n^2)</td>
          <td>O(n^2)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.selection_sort.title %}</p>
{% highlight ruby %}
  class Array
    def swap(first, second)
      self[first], self[second] = self[second], self[first]
      self
    end

    def selection_sort!
      0.upto(length - 1) do |i|
        min = i
        (i + 1).upto(length - 1) do |j|
          min = j if (self[j] <=> self[min]) == -1
        end
        swap min, i
      end

      self
    end
  end

  # [5, 4, 3, 1, 2].selection_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.selection_sort.title %}</p>
{% highlight ruby %}
  def selection_sort!
    for i in 0..length - 2
      min = i
      for j in (i + 1)...length
        min = j if self[j] < self[min]
      end
      swap min, i
    end

    self
  end
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Selection_sort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.shell_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.shell_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n log(n))</td>
          <td>&theta;(n(log(n))^2)</td>
          <td>O(n(log(n))^2)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.shell_sort.title %}</p>
{% highlight ruby %}
  class Array
    def shell_sort!
      inc = length / 2

      while inc != 0
        inc.step(length - 1) do |i|
          el = self[i]
          while i >= inc && self[i - inc] > el
            self[i] = self[i - inc]
            i -= inc
          end
          self[i] = el
        end
        inc = (inc == 2 ? 1 : (inc * 5.0 / 11).to_i)
      end

      self
    end
  end

  # [5, 4, 3, 1, 2].shell_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Shellsort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.heap_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.heap_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n log(n))</td>
          <td>&theta;(n log(n))</td>
          <td>O(n log(n))</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.heap_sort.title %}</p>
{% highlight ruby %}
  class Array
    def swap(first, second)
      self[first], self[second] = self[second], self[first]
      self
    end

    def heap_sort!
      self.dup.heap_sort
    end

    def heap_sort
      ((length - 2) / 2).downto(0) { |start| sift_down(start, length - 1) }

      (length - 1).downto(1) do |end_|
        swap 0, end_
        sift_down(0, end_ - 1)
      end
      self
    end

    def sift_down(start, end_)
      root = start
      loop do
        child = root * 2 + 1
        break if child > end_
        child += 1 if child + 1 <= end_ && self[child] < self[child + 1]
        if self[root] < self[child]
          swap child, root
          root = child
        else
          break
        end
      end
    end
  end

  # [5, 4, 3, 1, 2].heap_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Heapsort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.merge_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.merge_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n log(n))</td>
          <td>&theta;(n log(n))</td>
          <td>O(n log(n))</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.merge_sort.title %}</p>
{% highlight ruby %}
  class Array
    def merge_sort!
      return self if self.size <= 1
      mid = self.size / 2
      left = self[0...mid]
      right = self[mid...self.size]
      merge(left.merge_sort!, right.merge_sort!)
    end

    def merge(left, right)
      sorted = []
      until left.empty? || right.empty?
        sorted << (left.first <= right.first ? left.shift : right.shift)
      end
      sorted + left + right
    end
  end

  # [5, 4, 3, 1, 2].merge_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Merge_sort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.quick_sort.title %}</h3>
    <p>{% t pages.algorithms.sorting.quick_sort.description %}</p>
    <table class="complexity" style="text-align: center">
      {% include algorithm_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Omega;(n log(n))</td>
          <td>&theta;(n log(n))</td>
          <td>O(n^2)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.sorting.quick_sort.title %}</p>
{% highlight ruby %}
  class Array
    def swap(first, second)
      self[first], self[second] = self[second], self[first]
      self
    end

    def quick_sort!
      h, *t = self
      h ? t.partition { |e| e < h }.inject { |l, r| l.quick_sort! + [h] + r.quick_sort! } : []
    end
  end

  # [5, 4, 3, 1, 2].quick_sort! => [1, 2, 3, 4, 5]
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Quicksort">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.other %}</h3>
    <ul>
      <li><a href="http://rosettacode.org/wiki/Category:Sorting_Algorithms">http://rosettacode.org/wiki/Category:Sorting_Algorithms</a></li>
      <li><a href="https://www.toptal.com/developers/sorting-algorithms">https://www.toptal.com/developers/sorting-algorithms</a></li>
    </ul>
  </article>

  <article>
    <h3>{% t pages.algorithms.sorting.additional %}</h3>
    <ul>
      <li><a href="https://www.igvita.com/2009/03/26/ruby-algorithms-sorting-trie-heaps/">https://www.igvita.com/2009/03/26/ruby-algorithms-sorting-trie-heaps/</a></li>
    </ul>
  </article>

  <article>
    <h2>{% t pages.algorithms.searching.title %}</h2>
  </article>

  <article>
    <h3>{% t pages.algorithms.searching.binary_search.title %}</h3>
    <p>{% t pages.algorithms.searching.binary_search.description %}</p>
    <table class="complexity" style="text-align: center">
      <thead style="font-weight: bold; text-align: center">
        <tr>
          <td>{% t pages.algorithms.complexity.best %}</td>
          <td>{% t pages.algorithms.complexity.average %}</td>
          <td>{% t pages.algorithms.complexity.worst %}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&Omega;(1)</td>
          <td>&theta;(n log(n))</td>
          <td>O(log(n)))</td>
        </tr>
      </tbody>
    </table>

    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.algorithms.searching.binary_search.title %}</p>
{% highlight ruby %}
  class Array
    def binary_search(item)
      return nil if item.nil?
      low = 0
      high = self.size - 1

      while low <= high
        mid = (low + high) / 2
        val = self[mid]

        if val > item
          high = mid - 1
        elsif val < item
          low = mid + 1
        else
          return val
        end
      end

      nil
    end
  end

  # [1, 2, 3].binary_search(1) # => 1
  # [1, 2, 3].binary_search(4) # => nil
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Knuth%E2%80%93Morris%E2%80%93Pratt_algorithm">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.searching.knuth_moriss_pratt_search.title %}</h3>
    <p>{% t pages.algorithms.searching.knuth_moriss_pratt_search.description %}</p>
    <a href="https://en.wikipedia.org/wiki/Binary_search_algorithm">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.algorithms.searching.other.title %}</h3>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm">{% t pages.algorithms.searching.other.dijkstra %}</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Kruskal%27s_algorithm">{% t pages.algorithms.searching.other.kruskal %}</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Longest_increasing_subsequence">{% t pages.algorithms.searching.other.longest %}</a></li>
      <li><a href="http://www.mobilefish.com/services/phonenumber_words/phonenumber_words.php">{% t pages.algorithms.searching.other.telephone_number %}</a></li>
    </ul>
  </article>

  <article>
    <h3>{% t pages.algorithms.credits %}</h3>
    <ul>
      <li><a href="https://github.com/sagivo/algorithms">https://github.com/sagivo/algorithms</a></li>
      <li><a href="https://github.com/kanwei/algorithms">https://github.com/kanwei/algorithms</a></li>
    </ul>
  </article>
</div>
