---
layout: default
priority: 0.9
---

<div class="content">
  <article>
    <h1 class="post-title">{% t pages.data_structures.title %}</h1>
    <p>{% t pages.data_structures.description %}</p>
  </article>

  <article>
    <h2>{% t pages.data_structures.axioms.title %}</h2>
    <p>{% t pages.data_structures.axioms.description %}</p>
  </article>

  <article>
    <h3 id="fetch-store">{% t pages.data_structures.axioms.fetch_store.title %}</h3>
    <p>{% t pages.data_structures.axioms.fetch_store.description1 %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.fetch_store.title %}</p>
{% highlight ruby %}
  y = x
{% endhighlight %}
    </div>
    <p>{% t pages.data_structures.axioms.fetch_store.description2 %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.fetch_store.title %}</p>
{% highlight ruby %}
  y = 1
{% endhighlight %}
    </div>
    <p>{% t pages.data_structures.axioms.fetch_store.description3 %}</p>
  </article>

  <article>
    <h3>{% t pages.data_structures.axioms.elementary_operations.title %}</h3>
    <p>{% t pages.data_structures.axioms.elementary_operations.description1 %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.elementary_operations.title %}</p>
{% highlight ruby %}
  y += 1
{% endhighlight %}
    </div>
    <p>{% t pages.data_structures.axioms.elementary_operations.description2 %}</p>
    <p>{% t pages.data_structures.axioms.elementary_operations.description3 %}</p>
  </article>

  <article>
    <h3 id="call-method">{% t pages.data_structures.axioms.call_method.title %}</h3>
    <p>{% t pages.data_structures.axioms.call_method.description1 %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.call_method.title %}</p>
{% highlight ruby %}
  y = f(x)
{% endhighlight %}
    </div>
    <p>{% t pages.data_structures.axioms.call_method.description2 %}</p>
  </article>

  <article>
    <h3 id="calculating">{% t pages.data_structures.axioms.calculating.title %}</h3>
    <p>{% t pages.data_structures.axioms.calculating.description1 %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.calculating.title %}</p>
{% highlight ruby %}
  y = a[i]
{% endhighlight %}
    </div>
    <p>{% t pages.data_structures.axioms.calculating.description2 %}</p>
  </article>

  <article>
    <h3 id="object">{% t pages.data_structures.axioms.object.title %}</h3>
    <p>{% t pages.data_structures.axioms.object.description1 %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.object.title %}</p>
{% highlight ruby %}
  i = Integer.new(0)
{% endhighlight %}
      </div>
      <p>{% t pages.data_structures.axioms.object.description2 %}</p>
  </article>

  <article>
    <h3>{% t pages.data_structures.axioms.example.title %}</h3>
    <p>{% t pages.data_structures.axioms.example.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.axioms.example.title %}</p>
{% highlight ruby %}
  def sum(n)
    result = 0      # T_fetch + T_store
    i = 1           # T_fetch + T_store
    while i <= n    # (2 * T_fetch + T_<) * (n - 1)
      result += i   # (2 * T_fetch + T_+ + T_store) * n
      i += 1        # (2 * T_fetch + T_+ + T_store) * n
    end
    result # T_return + T_fetch
  end

  # Total: (6 * T_fetch + 2 * T_store + T_< + 2 * T_+) * n + (5 * T_fetch + 2 * T_store + T_< + T_return)
  # T(n) = t1 * n + t2
{% endhighlight %}
    </div>
  </article>

  <article>
    <h2>{% t pages.data_structures.implementations.title %}</h2>
  </article>

  <article>
    <h3 id="stack">{% t pages.data_structures.implementations.stack.title %}</h3>
    <p>{% t pages.data_structures.implementations.stack.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(1)</td>
          <td>O(1)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.stack.as_array %}</p>
{% highlight ruby %}
  class StackAsArray < Stack
    def initialize(size = 0)
      super()
      @array = Array.new(size)
    end

    def purge
      while @count > 0
        @count -= 1
        @array[@count] = nil
      end
    end

    def push(obj)
      raise ContainerFull if @count == @array.length
      @array[@count] = obj
      @count += 1
    end

    def pop
      raise ContainerEmpty if @count == 0
      @count -= 1
      result = @array[@count]
      @array[@count] = nil
      result
    end

    def top
      raise ContainerEmpty if @count == 0
      @array[@count - 1]
    end

    def each
      for i in 0...@count
        yield @array[i]
      end
    end

    attr_reader :array

    class Iterator < Opus8::Iterator
      def initialize(stack)
        @stack = stack
        @position = 0
      end

      def more?
        @position < @stack.count
      end

      def succ
        if more?
          assert { more? }
          result = @stack.array[@position]
          @position += 1
        else
          result = nil
        end
        result
      end
    end

    def iter
      Iterator.new(self)
    end
  end
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.stack.as_linked_list %}</p>
{% highlight ruby %}
  class StackAsLinkedList < Stack
    def initialize
      super
      @list = SinglyLinkedList.new
    end

    def purge
      @list.purge
      super
    end

    def push(obj)
      @list.prepend(obj)
      @count += 1
    end

    def pop
      raise ContainerEmpty if @count == 0
      result = @list.first
      @list.extract(result)
      @count -= 1
      result
    end

    def top
      raise ContainerEmpty if @count == 0
      @list.first
    end

    def each(&block)
      @list.each(&block)
    end

    attr_reader :list

    class Iterator < Opus8::Iterator
      def initialize(stack)
        @position = stack.list.head
      end

      def more?
        !@position.nil?
      end

      def succ
        if more?
          result = @position.datum
          @position = @position.succ
        else
          result = nil
        end
        result
      end
    end

    def iter
      Iterator.new(self)
    end
  end
{% endhighlight %}
    </div>
  </article>
 
  <article>
    <h3 id="queue">{% t pages.data_structures.implementations.queue.title %}</h3>
    <p>{% t pages.data_structures.implementations.queue.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(1)</td>
          <td>O(1)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.queue.as_array %}</p>
{% highlight ruby %}
  class QueueAsArray < Queue
    def initialize(size = 0)
      super()
      @array = Array.new(size)
      @head = 0
      @tail = size - 1
    end

    def purge
      while @count > 0
        @array[@head] = nil
        @head += 1
        @head = 0 if @head == @array.length
        @count -= 1
      end
    end

    def head
      raise ContainerEmpty if @count == 0
      @array[@head]
    end

    def enqueue(obj)
      raise ContainerFull if @count == @array.length
      @tail += 1
      @tail = 0 if @tail == @array.length
      @array[@tail] = obj
      @count += 1
    end

    def dequeue
      raise ContainerEmpty if @count == 0
      result = @array[@head]
      @array[@head] = nil
      @head += 1
      @head = 0 if @head == @array.length
      @count -= 1
      result
    end
  end
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.queue.as_linked_list %}</p>
{% highlight ruby %}
  class QueueAsLinkedList < Queue
    def initialize
      super
      @list = SinglyLinkedList.new
    end

    def purge
      @list.purge
      super
    end

    def head
      raise ContainerEmpty if @count == 0
      @list.first
    end

    def enqueue(obj)
      @list.append(obj)
      @count += 1
    end

    def dequeue
      raise ContainerEmpty if @count == 0
      result = @list.first
      @list.extract(result)
      @count -= 1
      result
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="deque">{% t pages.data_structures.implementations.deque.title %}</h3>
    <p>{% t pages.data_structures.implementations.deque.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(1)</td>
          <td>O(1)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.deque.as_array %}</p>
{% highlight ruby %}
  class DequeAsArray < QueueAsArray
    alias queueHead head

    include DequeMethods

    def initialize(size = 0)
      super(size)
    end

    alias head queueHead

    def enqueueHead(obj)
      raise ContainerFull if @count == @array.length
      @head = if @head == 0
        @array.length - 1
      else
        @head - 1
      end
      @array[@head] = obj
      @count += 1
    end

    alias dequeueHead dequeue

    def tail
      raise ContainerEmpty if @count == 0
      @array[@tail]
    end

    alias enqueueTail enqueue

    def dequeueTail
      raise ContainerEmpty if @count == 0
      result = @array[@tail]
      @array[@tail] = nil
      @tail = if @tail == 0
        @array.length - 1
      else
        @tail - 1
      end
      @count -= 1
      result
    end
  end
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.deque.as_linked_list %}</p>
{% highlight ruby %}
  class DequeAsLinkedList < QueueAsLinkedList
    alias queueHead head

    include DequeMethods

    def initialize
      super
    end

    alias head queueHead

    def enqueueHead(obj)
      @list.prepend(obj)
      @count += 1
    end

    alias dequeueHead dequeue

    def tail
      raise ContainerEmpty if @count == 0
      @list.last
    end

    alias enqueueTail enqueue

    def dequeueTail
      raise ContainerEmpty if @count == 0
      result = @list.last
      @list.extract(result)
      @count -= 1
      result
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="singly-linked-list">{% t pages.data_structures.implementations.singly_linked_list.title %}</h3>
    <p>{% t pages.data_structures.implementations.singly_linked_list.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(1)</td>
          <td>O(1)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.singly_linked_list.title %}</p>
{% highlight ruby %}
  class SinglyLinkedList
    class Element
      attr_accessor :data, :succ

      def initialize(list, data, succ)
        @list = list
        @data = data
        @succ = succ
      end

      def insert_after(item)
        @succ = Element.new(@list, item, @succ)

        @list.tail = @succ if @list.tail.equal?(self)
      end

      def insert_before(item)
        tmp = Element.new(@list, item, self)

        if @list.head.equal?(self)
          @list.head = tmp
        else
          prevElem = @list.head
          while !prevElem.nil? && !prevElem.succ.equal?(self)
            prevElem = prevElem.succ
          end
          prevElem.succ = tmp
        end
      end
    end

    attr_accessor :head, :tail

    def initialize
      @head = nil
      @tail = nil
    end

    def purge
      @head = nil
      @tail = nil
    end

    def empty?
      @head.nil?
    end

    def first
      if @head.nil?
        raise Error
      else
        @head.data
      end
    end

    def last
      if @tail.nil?
        raise Error
      else
        @tail.data
      end
    end

    def prepend(elem)
      temp = Element.new(self, elem, @head)

      @tail = temp if @head.nil?
      @head = temp
    end

    def append(elem)
      temp = Element.new(self, elem, nil)

      if @head.nil?
        @head = temp
      else
        @tail.succ = temp
      end

      @tail = temp
    end

    def clone
      linked_list = SinglyLinkedList.new

      elem = @head
      until elem.nil?
        linked_list.append elem.data
        elem = @head.succ
      end

      linked_list
    end

    def extract
      elem = @head

      prevElem = nil
      while !elem.nil? && !elem.data.equal?(item)
        prevElem = elem
        elem = elem.succ
      end

      raise ArgumentError if elem.nil?

      if elem == @head
        @head = elem.succ
      else
        prevElem.succ = elem.succ
      end

      @tail = prevElem if elem == @tail
    end

    def each
      elem = @head
      until elem.nil?
        yield ptr.data
        elem = elem.succ
      end
    end
  end
{% endhighlight %}
    </div>
    <p><a href="https://en.wikipedia.org/wiki/Linked_list#Singly_linked_list">{% t pages.wiki %}</a></p>
  </article>

  <article>
    <h3 id="doubly-linked-list">{% t pages.data_structures.implementations.doubly_linked_list.title %}</h3>
    <p>{% t pages.data_structures.implementations.doubly_linked_list.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(1)</td>
          <td>O(1)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.doubly_linked_list.title %}</p>
{% highlight ruby %}
  class DoubleLinkedList < SinglyLinkedList
    class Element < SinglyLinkedList < Element
      attr_accessor :prev

      def initialize(list, data, succ, prev)
        super(list, data, succ)
        @prev = prev
      end

      def insert_after(item)
        # Todo
      end

      def insert_before(item)
        # Todo
      end
    end

    attr_accessor :head, :tail

    def initialize
      @head = nil
      @tail = nil
    end

    def purge
      @head = nil
      @tail = nil
    end

    def empty?
      @head.nil?
    end

    def first
      if @head.nil?
        raise Error
      else
        @head.data
      end
    end

    def last
      if @tail.nil?
        raise Error
      else
        @tail.data
      end
    end

    def prepend(elem)
      # Todo
    end

    def append(elem)
      # Todo
    end

    def clone
      # Todo
    end

    def extract
      # Todo
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="ordered-list">{% t pages.data_structures.implementations.ordered_list.title %}</h3>
    <p>{% t pages.data_structures.implementations.ordered_list.description %}</p>
    <table class="table complexity text-align-center">
     {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(1)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(1)</td>
          <td>O(n)</td>
          <td>O(1)</td>
          <td>O(1)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.ordered_list.title %}</p>
{% highlight ruby %}
  class OrderedListAsArray < OrderedList
    def initialize(size = 0)
      super()
      @array = Array.new(size)
    end

    attr_reader :array

    attr_accessor :count

    def insert(obj)
      raise ContainerFull if @count == @array.length
      @array[@count] = obj
      @count += 1
    end

    def member?(obj)
      for i in 0...@count
        return true if @array[i].equal?(obj)
      end
      false
    end

    def find(obj)
      for i in 0...@count
        return @array[i] if @array[i] == obj
      end
      nil
    end

    def withdraw(obj)
      raise ContainerEmpty if @count == 0
      i = 0
      i += 1 while (i < @count) && !@array[i].equal?(obj)
      raise ArgumentError if i == @count
      while i < @count - 1
        @array[i] = @array[i + 1]
        i += 1
      end
      @array[i] = nil
      @count -= 1
    end

    class Cursor
      def initialize(list, offset)
        super()
        @list = list
        @offset = offset
      end

      def datum
        raise IndexError unless (0...@list.count) === offset
        @list[@offset]
      end
    end

    def findPosition(obj)
      i = 0
      i += 1 while (i < @count) && (@array[i] != obj)
      Cursor.new(self, i)
    end

    def [](offset)
      raise IndexError unless (0...@count) === offset
      @array[offset]
    end

    class Cursor < Cursor
      def insertAfter(obj)
        raise IndexError unless (0...@list.count) === @offset
        raise ContainerFull if	@list.count == @list.array.length
        insertPosition = @offset + 1
        i = @list.count
        while i > insertPosition
          @list.array[i] = @list.array[i - 1]
          i -= 1
        end
        @list.array[insertPosition] = obj
        @list.count += 1
      end

      def withdraw
        raise IndexError unless (0...@list.count) === @offset
        raise ContainerEmpty if @list.count == 0
        i = @offset
        while i < @list.count - 1
          @list.array[i] = @list.array[i + 1]
          i += 1
        end
        @list.array[i] = nil
        @list.count -= 1
      end
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="hash-table">{% t pages.data_structures.implementations.hash_table.title %}</h3>
    <p>{% t pages.data_structures.implementations.hash_table.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>&Theta;(1)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(n)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.hash_table.title %}</p>
{% highlight ruby %}
  class HashTable < SearchableContainer
    def initialize
      super
    end

    abstractmethod :length

    def loadFactor
      count / length
    end

    def f(obj)
      obj.hash
    end

    def g(x)
      x.abs % length
    end

    def h(obj)
      g(f(obj))
    end
  end

  class ChainedHashTable < HashTable
    def initialize(length)
      super()
      @array = Array.new(length)
      for i in 0...length
        @array[i] = SinglyLinkedList.new
      end
    end

    def length
      @array.length
    end

    def purge
      for i in 0...length
        @array[i].purge
      end
      @count = 0
    end

    def insert(obj)
      @array[h(obj)].append(obj)
      @count += 1
    end

    def withdraw(obj)
      @array[h(obj)].extract(obj)
      @count -= 1
    end

    def find(obj)
      ptr = @array[h(obj)].head
      until ptr.nil?
        return ptr.datum if ptr.datum == obj
        ptr = ptr.succ
      end
      nil
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="binary-tree">{% t pages.data_structures.implementations.binary_tree.title %}</h3>
    <p>{% t pages.data_structures.implementations.binary_tree.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(n)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.binary_tree.title %}</p>
{% highlight ruby %}
  class BinaryTree < Tree
    def initialize(*args)
      super()
      case args.length
      when 0
        @key = nil
        @left = nil
        @right = nil
      when 1
        @key = args[0]
        @left = BinaryTree.new
        @right = BinaryTree.new
      when 3
        @key = args[0]
        @left = args[1]
        @right = args[2]
      else
        raise ArgumentError
      end
    end

    def purge
      @key = nil
      @left = nil
      @right = nil
    end

    def left
      raise StateError if empty?
      @left
    end

    def right
      raise StateError if empty?
      @right
    end

    def left
      raise StateError if empty?
      @left
    end

    def right
      raise StateError if empty?
      @right
    end

    def compareTo(bt)
      assert { is_a?(obj.type) }
      if empty?
        if bt.empty?
          return 0
        else
          return -1
        end
      elsif bt.empty?
        return 1
      else
        result = @key <=> bt._key
        result = @left <=> bt._left if result == 0
        result = @right <=> bt._right if result == 0
        return result
      end
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="binary-search-tree">{% t pages.data_structures.implementations.binary_search_tree.title %}</h3>
    <p>{% t pages.data_structures.implementations.binary_search_tree.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(n)</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.binary_search_tree.title %}</p>
{% highlight ruby %}
  class BinarySearchTree < BinaryTree
    include SearchTreeMethods

    def initialize(*args)
      super
    end

    def find(obj)
      return nil if empty?
      diff = obj <=> @key
      if diff == 0
        return @key
      elsif diff < 0
        return @left.find(obj)
      elsif diff > 0
        return @right.find(obj)
      end
    end

    def min
      if empty?
        nil
      elsif @left.empty?
        @key
      else
        @left.min
      end
    end

    def insert(obj)
      if empty?
        attachKey(obj)
      else
        diff = obj <=> @key
        if diff == 0
          raise ArgumentError
        elsif diff < 0
          @left.insert(obj)
        elsif diff > 0
          @right.insert(obj)
        end
      end
      balance
    end

    def attachKey(obj)
      raise StateError unless empty?
      @key = obj
      @left = BinarySearchTree.new
      @right = BinarySearchTree.new
    end

    def balance; end

    def withdraw(obj)
      raise ArgumentError if empty?
      diff = obj <=> @key
      if diff == 0
        if !@left.empty?
          max = @left.max
          @key = max
          @left.withdraw(max)
        elsif !@right.empty?
          min = @right.min
          @key = min
          @right.withdraw(min)
        else
          detachKey
        end
      elsif diff < 0
        @left.withdraw(obj)
      elsif diff > 0
        @right.withdraw(obj)
      end
      balance
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3 id="b-tree">{% t pages.data_structures.implementations.b_tree.title %}</h3>
    <p>{% t pages.data_structures.implementations.b_tree.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>&Theta;(log(n))</td>
          <td>O(log(n))</td>
          <td>O(log(n))</td>
          <td>O(log(n))</td>
          <td>O(log(n))</td>
          <td>O(log(n))</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.b_tree.title %}</p>
{% highlight ruby %}
  class BTree < MWayTree
    def initialize(m)
      super
      @parent = nil
    end

    def attachSubtree(i, t)
      @subtree[i] = t
      t.parent = self
    end

    attr_accessor :parent

    def insert(obj)
      if empty?
        if @parent.nil?
          attachSubtree(0, BTree.new(m))
          @key[1] = obj
          attachSubtree(1, BTree.new(m))
          @count = 1
        else
          @parent.insertUp(obj, BTree.new(m))
        end
      else
        index = findIndex(obj)
        raise ArgumentError if (index != 0) && (@key == obj)
        @subtree[index].insert(obj)
      end
    end

    def insertUp(obj, child)
      index = findIndex(obj)
      if !full?
        insertPair(index + 1, obj, child)
        @count += 1
      else
        extraKey, extraTree = insertPair(index + 1, obj, child)
        if @parent.nil?
          left = BTree.new(m)
          right = BTree.new(m)
          left.attachLeftHalfOf(self)
          right.attachRightHalfOf(self)
          right.insertUp(extraKey, extraTree)
          attachSubtree(0, left)
          @key[1] = @key[(m + 1) / 2]
          attachSubtree(1, right)
          @count = 1
        else
          @count = (m + 1) / 2 - 1
          right = BTree.new(m)
          right.attachRightHalfOf(self)
          right.insertUp(extraKey, extraTree)
          @parent.insertUp(@key[(m + 1) / 2], right)
        end
      end
    end
  end
{% endhighlight %}
    </div>
  </article>
  <article>
    <h3 id="binary-heap">{% t pages.data_structures.implementations.binary_heap.title %}</h3>
    <p>{% t pages.data_structures.implementations.binary_heap.description %}</p>
    <table class="table complexity text-align-center">
      {% include data_structure_complexity_header.html %}
      <tbody>
        <tr>
          <td>&Theta;(n)</td>
          <td>&Theta;(n)</td>
          <td>&Theta;(1)</td>
          <td>O(log(n))</td>
          <td>O(n)</td>
          <td>O(n)</td>
          <td>O(log(n))</td>
          <td>O(log(n))</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.data_structures.implementations.binary_heap.title %}</p>
{% highlight ruby %}
  class BinaryHeap < PriorityQueue
    def enqueue(obj)
      raise ContainerFull if @count == @array.length
      @count += 1
      i = @count
      while (i > 1) && (@array[i / 2] > obj)
        @array[i] = @array[i / 2]
        i /= 2
      end
      @array[i] = obj
    end

    def min
      raise ContainerEmpty if @count == 0
      @array[1]
    end

    def dequeueMin
      raise ContainerEmpty if @count == 0
      result = @array[1]
      last = @array[@count]
      @count -= 1
      i = 1
      while 2 * i < @count + 1
        child = 2 * i
        if (child + 1 < @count + 1) && (@array[child + 1] < @array[child])
          child += 1
        end
        break if last <= @array[child]
        @array[i] = @array[child]
        i = child
      end
      @array[i] = last
      result
    end
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.credits %}</h3>
    <div>{% t pages.data_structures.implementations.source %}</div>

    <h3>{% t pages.data_structures.implementations.credits %}</h3>
    <div>
      <ul>
        <li><a href="https://github.com/blahah/datastructures">https://github.com/blahah/datastructures</a></li>
        <li><a href="https://en.wikipedia.org/wiki/List_of_data_structures">https://en.wikipedia.org/wiki/List_of_data_structures</a></li>
        <li><a href="https://www.cs.cmu.edu/~adamchik/15-121/lectures/Trees/trees.html">https://www.cs.cmu.edu/~adamchik/15-121/lectures/Trees/trees.html</a></li>
        <li><a href="http://bigocheatsheet.com/">http://bigocheatsheet.com/</a></li>
        <li><a href="https://gist.github.com/TSiege/cbb0507082bb18ff7e4b">https://gist.github.com/TSiege/cbb0507082bb18ff7e4b</a></li>
      </ul>
    </div>
  </article>
</div>
