---
layout: default
---

{% include sidebar.html %}
{% include sponsors/300x600.html %}

<div class="content">
  {% include github.html %}

  <article>
    <h1>{% t pages.design_patterns.title %}</h1>
  </article>

  <article>
    <h2>{% t pages.design_patterns.creational.title %}</h2>
    <p>{% t pages.design_patterns.creational.description %}</p>
    <a href="https://en.wikipedia.org/wiki/Creational_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.creational.abstract_factory.title %}</h3>
    <p>{% t pages.design_patterns.creational.abstract_factory.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.creational.abstract_factory.title %}</p>
{% highlight ruby %}
  class Frog
  end

  class Algae
  end

  class Tiger
  end

  class Tree
  end

  class PondFactory
    def new_animal
      Frog.new
    end

    def new_plant
      Algae.new
    end
  end

  class JungleFactory
    def new_animal
    Tiger.new
    end

    def new_plant
      Tree.new
    end
  end

  class EnvironmentFactory
    attr_reader :factories

    def initialize
      @factories = %w[PondFactory JungleFactory]
    end

    def get_factory(method)
      factory_class = get_factory_class method

      if factories.include? factory_class
        self.class.const_get(factory_class).new
      else
        super
      end
    end

    private

    def get_factory_class(method)
      "#{method.to_s.capitalize}Factory"
    end
  end

  environment = EnvironmentFactory.new
  jungle = environment.get_factory(:jungle)
  jungle.new_animal
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Abstract_factory_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.creational.builder.title %}</h3>
    <p>{% t pages.design_patterns.creational.builder.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.creational.builder.title %}</p>
{% highlight ruby %}
  class Computer
  end

  class TurboCPU
  end

  class Drive
  end

  class ComputerBuilder
    attr_reader :computer

    def initialize
      @computer = Computer.new
    end

    def turbo(_has_turbo_cpu = true)
      computer.cpu = TurboCPU.new
    end

    def display=(display)
      computer.display = display
    end

    def memory_size=(size_in_mb)
      computer.memory_size = size_in_mb
    end

    def add_cd(writer = false)
      computer.drives << Drive.new(:cd, 760, writer)
    end

    def add_dvd(writer = false)
    computer.drives << Drive.new(:dvd, 4000, writer)
    end

    def add_hard_disk(size_in_mb)
      computer.drives << Drive.new(:hard_disk, size_in_mb, true)
    end
  end

  computer_builder = ComputerBuilder.new

  computer_builder.turbo false
  computer_builder.display = 'Monitor'
  computer_builder.add_dvd false
  computer_builder.add_cd = false
  computer_builder.memory_size = '12mb'

  computer = computer_builder.computer
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Builder_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.creational.factory.title %}</h3>
    <p>{% t pages.design_patterns.creational.factory.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.creational.factory.title %}</p>
{% highlight ruby %}
  class Rectangle
  end

  class Square
  end

  class Circle
  end

  class ShapeFactory
    def get_shape(type)
      case type
      when :rectangle then Rectangle.new
      when :square then Square.new
      when :circle then Circle.new
      end
    end
  end

  shape_factory = ShapeFactory.new
  square = shape_factory.get_shape :square
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Factory_method_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.creational.prototype.title %}</h3>
    <p>{% t pages.design_patterns.creational.prototype.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.creational.prototype.title %}</p>
{% highlight ruby %}
  class Note
    attr_accessor :duration

    def initialize(duration)
      @duration = duration
    end

    def deep_copy
      Marshal.load(Marshal.dump(self))
    end
  end

  class Clef
  end

  class PrototypeManager
    def initialize
      @prototypes = {}
    end

    def set(key, prototype)
      if @prototypes.include? key
        raise IndexError, "A prototype is already assigned to this key: #{key}"
      else
        @prototypes[key] = prototype
      end
    end

    def unset(key)
      if !@prototypes.include? key
        raise IndexError, "This key doesn't exist in prototype: #{key}"
      else
        @prototypes.delete key
      end
    end

    def get(key)
      @prototypes[key].deep_copy
    end
  end

  prototype = PrototypeManager.new
  prototype.set :half_note, Note.new(0.5)
  prototype.set :full_note, Note.new(1)

  note = prototype.get(:full_note)
  note.duration
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Prototype_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.creational.singleton.title %}</h3>
    <p>{% t pages.design_patterns.creational.singleton.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.creational.singleton.title %}</p>
{% highlight ruby %}
  class Singleton
    def self.new
      @instance ||= super
    end
  end
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.creational.singleton.title %}</p>
{% highlight ruby %}
  require 'singleton'

  class OtherSingleton
    include Singleton
  end

  s1 = Singleton.new
  s2 = OtherSingleton.instance
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Singleton_pattern">{% t pages.wiki %}</a>
  </article>

  {% include sponsors/728x90.html %}

  <article>
    <h3>{% t pages.design_patterns.creational.not_covered.title %}</h3>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Lazy_initialization">{% t pages.design_patterns.creational.not_covered.lazy %}</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Multiton_pattern">{% t pages.design_patterns.creational.not_covered.multition %}</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Object_pool_pattern">{% t pages.design_patterns.creational.not_covered.pool %}</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Resource_Acquisition_Is_Initialization">{% t pages.design_patterns.creational.not_covered.resource %}</a></li>
    </ul>
  </article>

  <article>
    <h2>{% t pages.design_patterns.structural.title %}</h2>
    <p>{% t pages.design_patterns.structural.description %}</p>
    <a href="https://en.wikipedia.org/wiki/Structural_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.structural.adapter.title %}</h3>
    <p>{% t pages.design_patterns.structural.adapter.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.adapter.title %}</p>
{% highlight ruby %}
  class Adaptee
    def walk
      'walk_as_adaptee'
    end
  end

  class Adaptor
    attr_reader :adaptee

    def initialize
      @adaptee = Adaptee.new
    end

    def walk
      adaptee.walk + ' and_sing_song_as_adaptor'
    end
  end

  adaptor = Adaptor.new
  adaptor.walk # => walk_as_adaptor and_sing_song_as_adaptor
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Adapter_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.structural.composite.title %}</h3>
    <p>{% t pages.design_patterns.structural.composite.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.composite.title %}</p>
{% highlight ruby %}
  class MonsterTask
    attr_reader :reward

    def initialize
      @reward = 100
    end
  end

  class PuzzleTask
    attr_reader :reward

    def initialize
      @reward = 200
    end
  end

  class Quest
    def initialize
      @tasks = []
    end

    def <<(task)
      @tasks << task
    end

    def reward
      @tasks.inject(0) { |sum, task| sum += task.reward }
    end
  end

  quest = Quest.new
  quest << MonsterTask.new
  quest << PuzzleTask.new
  puts quest.reward # => 300
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Composite_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.structural.decorator.title %}</h3>
    <p>{% t pages.design_patterns.structural.decorator.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.decorator.title %}</p>
{% highlight ruby %}
  class Decorator
    def initialize(item)
      @item = item
    end

    def use
      item.use
    end

    def another_use
      item.use + 'another way'
    end
  end

  class MagicDecorator < Decorator
    def description
      @item.description + 'Magic'
    end
  end

  class MasterpieceDecorator < Decorator
    def description
      @item.description + 'Masterpiece'
    end
  end

  class Item
    attr_reader :description

    def initialize
      @description = 'Item '
    end

    def use
      'use it'
    end
  end

  item = Item.new
  puts item.description
  # => Item

  magic_item = MagicDecorator.new(item)
  puts magic_item.description
  # => Item Magic

  masterpiece_item = MasterpieceDecorator.new(item)
  puts masterpiece_item.description
  # => Item Masterpiece

  item.use
  magic_item.use
  masterpiece_item.use
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Decorator_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.structural.facade.title %}</h3>
    <p>{% t pages.design_patterns.structural.facade.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.facade.title %}</p>
{% highlight ruby %}
  class CPU
    def freeze
    end

    def jump(position)
    end

    def execute
    end
  end

  class Memory
    def load(position, data)
    end
  end

  class HardDrive
    def read(lba, size)
    end
  end

  class ComputerFacade
    attr_reader :processor, :ram, :hd

    def initialize
      @processor = CPU.new
      @ram = Memory.new
      @hd = HardDrive.new
    end

    def start
      processor.freeze
      processor.jump(BOOT_ADDRESS)
      processor.execute
      ram.load(BOOT_ADDRESS, hd.read(BOOT_SECTOR, SECTOR_SIZE))
    end
  end

  computer_facade = ComputerFacade.new
  computer_facade.start
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Facade_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.structural.flyweight.title %}</h3>
    <p>{% t pages.design_patterns.structural.flyweight.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.flyweight.title %}</p>
{% highlight ruby %}
  class Lamp
    attr_reader :color

    def initialize(color)
      @color = color
    end
  end

  class TreeBranch
    attr_reader :branch_number

    def initialize(branch_number)
      @branch_number = branch_number
    end

    def hang(lamp)
      puts "Hang #{lamp.color} lamp on branch #{branch_number}"
    end
  end

  class LampFactory
    attr_reader :lamps

    def initialize
      @lamps = {}
    end

    def find_lamp(color)
      if lamps.key?(color)
        lamp = lamps[color]
      else
        lamp = Lamp.new(color)
        lamps[color] = lamp
      end
      lamp
    end

    def total_number_of_lamps_made
      lamps.size
    end
  end

  class ChristmasTree
    attr_reader :lamp_factory, :lamps_hung

    def initialize(lamp_factory = LampFactory.new)
      @lamp_factory = lamp_factory
      @lamps_hung = 0

      dress_up_the_tree
    end

    def hang_lamp(color, branch_number)
      TreeBranch.new(branch_number).hang(lamp_factory.find_lamp(color))
      lamps_hung += 1
    end

    def dress_up_the_tree
      yield self if block_given?
    end
  end

  christmas_tree = ChristmasTree.new
  christmas_tree.dress_up_the_tree do
    hang_lamp('red', 1)
    hang_lamp('blue', 1)
    hang_lamp('yellow', 1)
    hang_lamp('red', 2)
    hang_lamp('blue', 2)
    hang_lamp('yellow', 2)
    hang_lamp('red', 3)
    hang_lamp('blue', 3)
    hang_lamp('yellow', 3)
    hang_lamp('red', 4)
    hang_lamp('blue', 4)
    hang_lamp('yellow', 4)
    hang_lamp('red', 5)
    hang_lamp('blue', 5)
    hang_lamp('yellow', 5)
    hang_lamp('red', 6)
    hang_lamp('blue', 6)
    hang_lamp('yellow', 6)
    hang_lamp('red', 7)
    hang_lamp('blue', 7)
    hang_lamp('yellow', 7)
  end
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Flyweight_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.structural.proxy.title %}</h3>
    <p>{% t pages.design_patterns.structural.proxy.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.proxy.title %}</p>
{% highlight ruby %}
  class BankAccount
    attr_reader :balance

    def initialize(balance = 0)
      @balance = balance
    end

    def deposit(amount)
      balance += amount
    end

    def withdraw(amount)
      balance -= amount
    end
  end

  class BankAccountProxy
    def initialize(real_object)
      @real_object = real_object
    end

    def balance
      @real_object.balance
    end

    def deposit(amount)
      @real_object.deposit(amount)
    end

    def withdraw(amount)
      @real_object.withdraw(amount)
    end
  end
{% endhighlight %}
    </div>
    <p>{% t pages.design_patterns.structural.protection_proxy.title %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.protection_proxy.title %}</p>
{% highlight ruby %}
  class BankAccountProtectionProxy
    def initialize(real_account, owner_name)
      @subject = real_account
      @owner_name = owner_name
    end

    def deposit(amount)
      check_access
      @subject.deposit(amount)
    end

    def withdraw(amount)
      check_access
      @subject.withdraw(amount)
    end

    def balance
      check_access
      @subject.balance
    end

    def check_access
    end
  end
{% endhighlight %}
    </div>
    <p>{% t pages.design_patterns.structural.virtual_proxy.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.virtual_proxy.title %}</p>
{% highlight ruby %}
  class BankAccountVirtualProxy
    def initialize(&creation_block)
      @creation_block = creation_block
    end

    def deposit(amount)
      subject.deposit(amount)
    end

    def withdraw(amount)
      subject.withdraw(amount)
    end

    def balance
      subject.balance
    end

    def subject
      @subject ||= @creation_block.call
    end
  end
{% endhighlight %}
    </div>
    <p>{% t pages.design_patterns.structural.remote_proxy.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.structural.remote_proxy.title %}</p>
{% highlight ruby %}
  class BankAccountRemoteProxy
  end

  URI = 'druby://path_to_domain:port'
  DRb.start_service(URI, BankAccountRemoteProxy.new)
  DRb.thread.join

  URI = 'druby://path_to_domain:port'
  proxy = DRbObject.new_with_uri(URI)
  proxy.balance
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Proxy_pattern">{% t pages.wiki %}</a>
  </article>

  {% include sponsors/728x90.html %}

  <article>
    <h3>{% t pages.design_patterns.structural.not_covered.title %}</h3>
    <ul>
      <li><a href="http://c2.com/cgi/wiki?AnnotatedCallback">{% t pages.design_patterns.structural.not_covered.callback %}</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Bridge_pattern">{% t pages.design_patterns.structural.not_covered.bridge %}</a></li>
      <li><a href="http://c2.com/cgi/wiki?DataBusPattern">{% t pages.design_patterns.structural.not_covered.data_bus %}</a></li>
      <li><a href="http://c2.com/cgi/wiki?RoleObjectPattern">{% t pages.design_patterns.structural.not_covered.role %}</a></li>
    </ul>
  </article>

  <article>
    <h2>{% t pages.design_patterns.behavioral.title %}</h2>
    <p>{% t pages.design_patterns.behavioral.description %}</p>
    <a href="https://en.wikipedia.org/wiki/Behavioral_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.chain_of_responsobility.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.chain_of_responsobility.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.chain_of_responsobility.title %}</p>
{% highlight ruby %}
  class PurchaseApprover
    attr_reader :successor

    def initialize(successor)
      @successor = successor
    end

    def process_request(request)
      if approve_request request
        nil
      elsif successor
        successor.process_request request
      else
        deny_request request
      end
    end

    def deny_request(request)
    end
  end

  class AmountApprover < PurchaseApprover
    BASE = 500

    def approve_request(request)
      if request.amount < self.class::ALLOWABLE
        print_approval request
        true
      else
        false
      end
    end
  end

  class Manager < AmountApprover
    ALLOWABLE = 10 * BASE

    def print_approval(request)
      puts "Manager will approve $#{request.amount}"
    end
  end

  class Director < AmountApprover
    ALLOWABLE = 20 * BASE

    def print_approval(request)
      puts "Director will approve $#{request.amount}"
    end
  end

  class VicePresident < AmountApprover
    ALLOWABLE = 40 * BASE

    def print_approval(request)
      puts "VicePresident will approve $#{request.amount}"
    end
  end

  class President < AmountApprover
    ALLOWABLE = 60 * BASE

    def print_approval(request)
      puts "President will approve $#{request.amount}"
    end
  end

  class ChiefFinancialOperations < PurchaseApprover
    def approve_request(request)
      if within_annual_budget? request
         puts "CFO will approve $#{request.amount}"
        true
      else
        false
      end
    end

    def within_annual_budget?(request)
    end
  end

  class PurchaseRequest
    attr_reader :amount, :amount, :purpose

    def initialize(number, amount, purpose)
      @number = number
      @amount = amount
      @purpose = purpose
    end
  end

  class CLP
    def initialize(*approvers)
      @authority = build_approvers(approvers).first
    end

    def process_request(request)
      @authority.process_request request
    end

    private

    def build_approvers(approver_classes)
      [].tap do |approvers|
        approver_classes.reverse.inject(nil) do |successor, approver|
          approver.new(successor).tap { |approver| approvers.unshift approver }
        end
      end
    end
  end

  approvers = CLP.new(Manager, Director, VicePresident, President)
  approvers.process_request PurchaseRequest.new(0, amount, 'General')
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Chain-of-responsibility_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.command.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.command.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.command.title %}</p>
{% highlight ruby %}
  class Switch
    attr_reader :history

    def execute(cmd)
      @history ||= []
      @history << cmd.execute
    end
  end

  class Command
    attr_reader :obj

    def initialize(obj)
      @obj = obj
    end

    def execute
      raise NotImplementedError
    end
  end

    class TurnOnCommand < Command
    def execute
      obj.turn_on
    end
  end

  class TurnOffCommand < Command
    def execute
      obj.turn_off
    end
  end

  class Light
    def turn_on
      'the light is on'
    end

    def turn_off
      'the light is off'
    end
  end

  class LightSwitchClient
    attr_reader :switch

    def initialize
      @lamp = Light.new
      @switch = Switch.new
    end

    def switch_for(cmd)
      case cmd
      when 'on' then @switch.execute(TurnOnCommand.new(@lamp))
      when 'off' then @switch.execute(TurnOffCommand.new(@lamp))
      else puts 'Sorry, I so sorry'
      end
    end
  end

  client = LightSwitchClient.new
  client.switch_for('on')
  client.switch_for('off')
  client.switch.history #=> ['the light is on', 'the light is off']
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Command_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.interpreter.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.interpreter.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.interpreter.title %}</p>
{% highlight ruby %}
  class Number
  attr_reader :value

    def initialize(value)
      @value = value
    end

    def execute
      value
    end
  end

  class Operation
    attr_reader :left, :right

    def initialize(left, right)
      @left = left
      @right = right
    end

    def execute
      raise NotImplementedError
    end
  end

  class Plus < Operation
    def execute
      left.execute + right.execute
    end
  end

  class Minus < Operation
    def execute
      left.execute - right.execute
    end
  end

  class Multiply < Operation
    def execute
      left.execute * right.execute
    end
  end

  class Devide < Operation
    def execute
      left.execute / right.execute
    end
  end

  class Interpreter
    def self.parse(input)
      stack = []

      input.lstrip!
      until input.empty?
        case input
        when /\A-?\d+(\.\d+)?/
          stack << Number.new($&.to_i)
        else
          second = stack.pop
          first = stack.pop

          case input
          when /\A\+/
            stack << Plus.new(first, second)
          when /\A\-/
            stack << Minus.new(first, second)
          when /\A\*/
            stack << Multiply.new(first, second)
          else
            raise SyntaxError
          end
        end

        input = $'
        input.lstrip!
      end

      raise SyntaxError unless stack.size == 1

      stack.first.execute
    end
  end

  puts Interpreter.parse('1 + 1 + 2 - 1') # => 3
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Interpreter_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.iterator.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.iterator.description %}</p>
    <p>{% t pages.design_patterns.behavioral.external_iterator.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.external_iterator.title %}</p>
{% highlight ruby %}
  class Account
    attr_reader :balance

    def initialize(balance)
      @balance = balance
    end
  end

  class Bank
    include Enumerable

    def initialize
      @accounts = []
    end

    def each(&block)
      @accounts.each(&block)
    end

    def add(account)
      @accounts << account
    end
  end

  bank = Bank.new
  bank.add Account.new(100)
  bank.add Account.new(150)
  bank.add Account.new(175)

  puts bank.map(&:balance)
{% endhighlight %}
    </div>
    <p>{% t pages.design_patterns.behavioral.internal_iterator.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.internal_iterator.title %}</p>
{% highlight ruby %}
  class Collection
    def initialize(array)
      @array = array
      @index = 0
    end

    def next?
      @index < @array.length
    end

    def next_item
      value = @array[@index]
      @index += 1
      value
    end

    def iterate
      yield(next_item) if block_given? while next?
    end
  end

  collection = Collection.new([1, 2, 3, 4, 5])
  collection.iterate { |elem| puts elem }

  class Collection
    def initialize(array)
      @array = array
      @index = 0
    end

    def next?
      @index < @array.length
    end

    def next_item
      value = @array[@index]
      @index += 1
      value
    end
  end

  collection = Collection.new([1, 2, 3, 4, 5])
  puts "Item: #{collection.next_item}" while collection.next?
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Iterator_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.mediator.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.mediator.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.mediator.title %}</p>
{% highlight ruby %}
  class Buyer
    attr_accessor :balance

    def initialize(balance)
      @balance = balance
    end

    def use_agency_for_buying_house(agency)
      @agency = agency
    end

    def buy(house)
      @agency.purchase(house, self)
    end
  end

  class Seller
    attr_accessor :balance

    def initialize(balance = 0)
      @balance = balance
    end

    def use_agency_for_selling_house(agency, house)
      agency.register house
    end
  end

  class House
    attr_reader :price, :owner

    def initialize(price, owner)
      @price = price
      @owner = owner
    end

    def new_owner(buyer)
      @owner = buyer
    end
  end

  class Agency
    def initialize
      @houses = []
    end

    def register(house)
      @houses << house
    end

    def purchase(house, buyer)
      if can_make_deal? house, buyer
        make_payment house, buyer
        change_owner house, buyer
      end
    end

    private

    def can_make_deal?(house, buyer)
      @houses.include?(house) && buyer.balance >= house.price
    end

    def make_payment(house, buyer)
      house.owner.balance += house.price
      buyer.balance -= house.price
    end

    def change_owner(house, buyer)
      house.new_owner buyer
    end
  end

  buyer = Buyer.new(1000)

  seller = Seller.new(0)
  house = House.new(100, seller)

  agency = Agency.new
  buyer.use_agency_for_buying_house agency
  seller.use_agency_for_selling_house agency, house

  buyer.buy house

  puts house.inspect
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Mediator_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.momento.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.momento.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.momento.title %}</p>
{% highlight ruby %}
  module Originator
    def saves
      @saves ||= {}
    end

    def save(key)
      puts "saving key: #{key}"
      @saves[key] = Marshal.dump self
    end

    def restore(key)
      puts "restoring key: #{key}"
      include_state Marshal.load(@saves[key])
    end

    private

    def include_state(other)
      other.instance_variables.each { |v| instance_variable_set(v, other.instance_variable_get(v)) unless v == '@saves' }
    end
  end

  class Example
    include Originator

    attr_accessor :name, :color

    def initialize(name, color)
      @name = name
      @color = color
    end
  end

  example = Example.new('Dave', 'blue')
  example.save :now # => saving key now
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Memento_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.observer.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.observer.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.observer.title %}</p>
{% highlight ruby %}
  module Observable
    def initialize
      @observers = []
    end

    def add_observer(observer)
      @observers << observer unless @observers.include?(observer)
    end

    def delete_observer(observer)
      @observers.delete(observer)
    end

    def notify_observers
      @observers.each { |x| x.update(self) }
    end
  end

  class Employee
    include Observable

    attr_reader :name
    attr_accessor :title, :salary

    def initialize(name, title, salary)
      super()
      @name = name
      @title = title
      @salary = salary
    end
  end

  class BaseObserver
    def update
      raise 'Must be implement "update" function'
    end
  end

  class Payroll < BaseObserver
    def update(employee)
      p("Cut a new check for #{employee.name}!")
      p("His salary is now #{employee.salary}!")
    end
  end

  class TaxMan < BaseObserver
    def update(employee)
      p("Send #{employee.name} a new tax bill!")
    end
  end

  mike = Employee.new('Mike', 'project manger', 25_000)

  mike.add_observer(Payroll.new)
  mike.add_observer(TaxMan.new)

  mike.salary = 35_000
  mike.title = 'senior project manger'
  mike.notify_observers
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Observer_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.state.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.state.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.state.title %}</p>
{% highlight ruby %}
  module StatePattern
    class UnknownStateException < RuntimeError
    end

    def self.included(base)
      base.extend StatePattern::ClassMethods
    end

    module ClassMethods
      attr_reader :state_classes

      def state(state_name, &block)
        @state_classes ||= {}

        new_klass = Class.new(self, &block)
        new_klass.class_eval do
          alias_method :__old_init, :initialize

          def initialize(context, *args, &block)
            @context = context
            __old_init(*args, &block)
          end
        end

        @state_classes[state_name] = new_klass
      end
    end

    attr_accessor :current_state, :current_state_obj

    def transition_to(state_name, *args, &block)
      new_context = @context || self
      klass = new_context.class.state_classes[state_name]
      if klass
        new_context.current_state = state_name
        new_context.current_state_obj = klass.new(new_context, *args, &block)
      else
        raise UnknownStateException, "tried to transition to unknown state,#{state_name}"
      end
    end

    def method_missing(method, *args, &block)
      transition_to :initial unless @current_state_obj

      if @current_state_obj
        @current_state_obj.send(method, *args, &block)
      else
        super
      end
    end
  end

  class Connection
    include StatePattern

    state :initial do
      def connect
        puts 'connected'
      end

      def disconnect
        puts 'not connected yet'
      end
    end

    state :connected do
      def initialize(msg)
        puts "initialize got msg:#{msg}"
      end

      def connect
        puts 'already connected'
      end

      def disconnect
        puts 'disconnecting'
        transition_to :initial
      end
    end

    def reset
      puts 'resetting outside a state'
    end
  end

  c = Connection.new
  c.disconnect # => not connected yet
  c.connect # => connected, initialize got msg: hello from initial state
  c.connect # => already connected
  c.disconnect # => disconnecting
  c.connect # => connected, initialize got msg: hello from initial state
  c.reset # => reseting outside a state
  c.disconnect # => not connected yet
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/State_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.strategy.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.strategy.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.strategy.title %}</p>
{% highlight ruby %}
  class StrategyOne
    def use
      puts 'Strategy one'
    end
  end

  class StrategyTwo
    def use
      puts 'Strategy two'
    end
  end

  class StrategyThree
    def use
      puts 'Strategy three'
    end
  end

  class Context
    @@default_strategy = StrategyOne.new

    def set_strategy(strategy)
      @strategy = strategy
    end

    def use
      @strategy.use
    end
  end

  context = Context.new
  context.use # => "Strategy one"

  context.set_strategy StrategyTwo.new
  context.use # => "Strategy two"
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Strategy_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.template.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.template.description  %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.template.title %}</p>
{% highlight ruby %}
  module Template
    # mandatory_methods = ["tagname", "content"]
    # optional_methods = ["font_size", "background_color"]

    def generate
      string = "<#{tagname}"
      styles = ''
      styles += "font-size:#{font_size};" if respond_to? :font_size
      styles += "background-color:#{background_color};" if respond_to? :background_color
      string += " style='#{styles}'" unless styles.empty?
      string += ">#{content}</#{tagname}>"
    end
  end

  class Body
    def tagname
      'body'
    end

    def content
      'hello'
    end

    def font_size
      '18pt'
    end

    include Template
  end

  body = Body.new
  body.generate
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Template_method_pattern">{% t pages.wiki %}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.visitor.title %}</h3>
    <p>{% t pages.design_patterns.behavioral.visitor.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.design_patterns.behavioral.visitor.title %}</p>
{% highlight ruby %}
  module Node
    def accept(visitor)
      if is_a? StringNode
        visitor.visit_string self if visitor.respond_to? :visit_string
      elsif is_a? IntegerNode
        visitor.visit_int self if visitor.respond_to? :visit_int
      end
    end
  end

  class StringNode
    include Node
    attr_accessor :string

    def initialize(val)
      @string = val
    end
  end

  class IntegerNode
    include Node
    attr_accessor :int

    def initialize(val)
      @int = val
    end
  end

  class PrintingVisitor
    def visit_string(node)
      puts node.string
    end

    def visit_int(node)
      puts node.int
    end
  end

  class RevertingVisitor
    def visit_string(node)
      puts node.string.reverse!
    end
  end

  myTreeRoot = Tree::TreeNode.new('ROOT', StringNode.new('this is the root node'))

  myTreeRoot << Tree::TreeNode.new('child1', StringNode.new('madam im adam')) << Tree::TreeNode.new('grandchild1', IntegerNode.new(3)) << Tree::TreeNode.new('grandchild2', IntegerNode.new(2))
  myTreeRoot << Tree::TreeNode.new('child2', StringNode.new('race car')) << Tree::TreeNode.new('grandchild3', StringNode.new('damn, i agassi miss again. mad'))

  puts 'PRINTING visitor...'
  @pvisitor = PrintingVisitor.new
  myTreeRoot.each { |node| node.content.accept @pvisitor }
  puts "\nREVERTING visitor..."

  @rvisitor = RevertingVisitor.new
  myTreeRoot.each { |node| node.content.accept @rvisitor }
{% endhighlight %}
    </div>
    <a href="https://en.wikipedia.org/wiki/Visitor_pattern">{% t pages.wiki%}</a>
  </article>

  <article>
    <h3>{% t pages.design_patterns.behavioral.not_covered.title %}</h3>
    <ul>
      <li><a href="http://c2.com/cgi/wiki?HierarchicalVisitorPattern">{% t pages.design_patterns.behavioral.not_covered.hierarchical %}</a></li>
    </ul>
  </article>

  {% include sponsors/728x90.html %}

  <article>
    <h3>{% t pages.design_patterns.behavioral.credits %}</h3>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Software_design_pattern">https://en.wikipedia.org/wiki/Software_design_pattern</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Creational_pattern">https://en.wikipedia.org/wiki/Creational_pattern</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Structural_pattern">https://en.wikipedia.org/wiki/Structural_pattern</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Behavioral_pattern">https://en.wikipedia.org/wiki/Behavioral_pattern</a></li>
      <li><a href="http://c2.com/cgi/wiki?CategoryPattern">http://c2.com/cgi/wiki?CategoryPattern</a></li>
      <li><a href="https://gist.github.com/martindemello/7231bf0f407ca428b509">https://gist.github.com/martindemello/7231bf0f407ca428b509</a></li>
    </ul>
  </article>
</div>
