---
layout: default
---

{% include sidebar.html %}
{% include sponsors/300x600.html %}

<div class="content">
  <article>
    <h1>{% t pages.functional_programming.title %}</h1>
    <p>{% t pages.functional_programming.description %}</p>
    <ul>
      <li>{% t pages.functional_programming.axioms.immutable %}</li>
      <li>{% t pages.functional_programming.axioms.side_effects %}</li>
      <li>{% t pages.functional_programming.axioms.pure_functions %}</li>
      <li>{% t pages.functional_programming.axioms.applying %}</li>
      <li>{% t pages.functional_programming.axioms.recursion %}</li>
      <li>{% t pages.functional_programming.axioms.lazy %}</li>
    </ul>
  </article>

  <article>
    <h3>{% t pages.functional_programming.pure_functions.title %}</h3>
    <p>{% t pages.functional_programming.pure_functions.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.functional_programming.pure_functions.title %}</p>
{% highlight ruby %}
  def sum_two_numbers(a, b)
    a + b
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.functional_programming.closures.title %}</h3>
    <p>{% t pages.functional_programming.closures.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.functional_programming.closures.title %}</p>
{% highlight ruby %}
  class Bar
    def initialize(hash = {})
      @lambda = hash[:lambda] || ->(_) {
        p "no-op"
        false
      }
    end

    def dothing
      result = @lambda.call("Mark")
      p "result = #{ result }"
    end
  end

  class Foo
    def initialize
    @hash= {
      lambda: ->(name) {
        p "hello #{ name }"
        foo_test
      }
    }

    @bar = Bar.new(@hash)
  end

  def start
    @bar.dothing
  end

  private

  def foo_test
    p "I'm internal to Foo class"
    raise ::JSON::ParserError
    true
  rescue ::JSON::ParserError
    p "caught an error"
    false
    end
  end

  foo = Foo.new
  foo.start

  # => "hello Mark"
  # => "I'm internal to Foo class"
  # => "caught an error"
  # => "result = false"
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.functional_programming.applying.title %}</h3>
    <p>{% t pages.functional_programming.applying.description %}</p>
    <p>{% t pages.functional_programming.applying.proc %}</p>
    <p>{% t pages.functional_programming.applying.partial %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.functional_programming.applying.title %}</p>
{% highlight ruby %}
  proc { |x, y, z| x + y + z }
  proc { |x, y| proc { |z| x + y + z } }
  proc { |x| proc { |y| proc { |z| x + y + z } } }
{% endhighlight %}
    </div>
     <p>{% t pages.functional_programming.applying.curry %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.functional_programming.applying.title %}</p>
{% highlight ruby %}
  l = ->(x, y, z) { x + y + z }
  l.curry[1][2][3]
  # => 6

  a = l.curry[1]
  # => <Proc:0x007fc759a22920 (lambda)>

  b = a[2]
  #=> <Proc:0x007fc759a68b00 (lambda)>

  b[3]
  # => 6

  apply_math = ->(fn, a, b) { a.send fn, b }
  add = apply_math.curry.call(:+)
  add.call(1, 2)
  # => 3

  increment = add.curry.call(1)
  increment.call(1)
  # => 2

  increment.call(5)
  # => 6
{% endhighlight %}
    </div>
  </article>
</div>
