---
layout: default
---

{% include sidebar.html %}
{% include sponsors/300x600.html %}

<div class="content">
  {% include github.html %}

  <article>
    <h1>{% t pages.gotchas.title %}</h1>
    <p>{% t pages.gotchas.description1 %}</p>
    <p>{% t pages.gotchas.description2 %}</p>
    <p>{% t pages.gotchas.description3 %}</p>
    <p>{% t pages.gotchas.description4 %}</p>
    <p>{% t pages.gotchas.description5 %}</p>
  </article>

  <article>
    <h3>{% t pages.gotchas.surprising.title %}</h3>
    <p>{% t pages.gotchas.surprising.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.surprising.title %}</p>
{% highlight ruby %}
  We = 2

  class Fixnum
    def rb
      self
    end
  end

  We <3 .rb
  # => true
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.surprising.title %}</p>
{% highlight ruby %}
  But = 3
  still = 1
  perfect = 4

  But - still .rb < perfect
  # => true
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.quotes.title %}</h3>
    <p>{% t pages.gotchas.quotes.description  %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.quotes.title %}</p>
{% highlight ruby %}
  x = 3

  puts 'x = #{x}\nx'
  # => x = #{x}\nx
  # => nil

  puts "x = #{x}\nx"
  # => x = 3
  # => x
{% endhighlight %}
    </div>
  </article>


  <article>
    <h3>{% t pages.gotchas.twue.title %}</h3>
    <p>{% t pages.gotchas.twue.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.twue.title %}</p>
{% highlight ruby %}
  true    ? "true" : "false"
  # => "true"
  false   ? "true" : "false"
  # => "false"
  nil     ? "true" : "false"
  # => "false"
  1       ? "true" : "false"
  # => "true"
  0       ? "true" : "false"
  # => "true"
  "false" ? "true" : "false"
  # => "true"
  ""      ? "true" : "false"
  # => "true"
  []      ? "true" : "false"
  # => "true"
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.symbols_and_strings.title %}</h3>
    <p>{% t pages.gotchas.symbols_and_strings.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.symbols_and_strings.title %}</p>
{% highlight ruby %}
  str = "string"
  sym = :string

  puts str
  # => string

  puts sym
  # => string

  str == sym
  # => false
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.string_or_nothing.title %}</h3>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.string_or_nothing.title %}</p>
{% highlight ruby %}
  # bash> irb-1.8

  str = "string"
  # => "string"

  str[2]
  # => 114
  # ??? ascii code!

  str[2..2]
  # => "r"
  # that's better!

  str[2,1]
  => "r"
  # works too....
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.string_or_nothing.title %}</p>
{% highlight ruby %}
  # bash> irb-1.9

  str = "string"
  # => "string"

  str[2]
  # => "r"
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.constants.title %}</h3>
    <p>{% t pages.gotchas.constants.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.constants.title %}</p>
{% highlight ruby %}
  FOO = 5
  # => 5

  FOO = 7
  # (irb):3: warning: already initialized constant FOO
  # => 7

  FOO
  # => 7

  FOO.freeze
  # => 7

  FOO += 2
  # (irb):5: warning: already initialized constant FOO
  # => 9

  FOO
  # => 9
{% endhighlight %}
    </div>
  </article>

  {% include sponsors/728x90.html %}

  <article>
    <h3>{% t pages.gotchas.equals.title %}</h3>
    <p>{% t pages.gotchas.equals.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.equals.title %}</p>
{% highlight ruby %}
  1 == 1.0
  # => true

  1.eql? 1.0
  # => false

  a = "foo"
  b = "foo"
  a == b
  # => true

  a.eql? b
  # => true

  a.equal? b
  # => false

  a.equal? a
  # => true
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.operations.title %}</h3>
    <p>{% t pages.gotchas.operations.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.operations.title %}</p>
{% highlight ruby %}
  1 === 1
  # => true

  Fixnum === 1
  # => true

  1 === Fixnum
  # => false

  Class  === Class
  Object === Object
  Class  === Object
  Object === Class
  # => all true

  Fixnum === Fixnum
  # => false

  (1..3) === 2
  # => true

  2 === (1..3)
  # => false
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.priority.title %}</h3>
    <p>{% t pages.gotchas.priority.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.priority.title %}</p>
{% highlight ruby %}
  x = true && false
  # => false
  x
  # => false

  x = true and false
  # => false
  x
  # => true
{% endhighlight %}
    </div>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.priority.title %}</p>
{% highlight ruby %}
  x = false || true
  # => true
  x
  # => true

  x = false or true
  # => true
  x
  # => false
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.sensitive.title %}</h3>
    <p>{% t pages.gotchas.sensitive.description %}</p>
    <p class="info">{% t pages.gotchas.sensitive.usage %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.sensitive.title %}</p>
{% highlight ruby %}
  def method(arg1, arg2); end

  method 1, 2
  # => nil

  method(1, 2)
  # => nil

  method (1, 2)
  # => syntax error, unexpected ',', expecting ')'
  # => method (1, 2)
{% endhighlight %}
    </div>
    <p>{% t pages.gotchas.sensitive.methods %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.sensitive.title %}</p>
{% highlight ruby %}
  def method; 42; end

  num = 21
  method/num
  # => 2

  method / num
  # => 2

  method/ num
  # => 2

  method /num
  # => SyntaxError: unterminated regexp
{% endhighlight %}
    </div>
    <p>{% t pages.gotchas.sensitive.arguments %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.sensitive.title %}</p>
{% highlight ruby %}
  def one
    1
  end

  one - 2
  # => -1

  one-2
  # => -1

  one- 2
  # => -1

  one -2
  # => ArgumentError: wrong number of arguments (1 for 0)
{% endhighlight %}
      </p>
    </div>
    <p>{% t pages.gotchas.sensitive.stubby %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.sensitive.title %}</p>
{% highlight ruby %}
  dbl = ->(x) { x * 2 }
  # => #<Proc:... (lambda)>

  dbl = ->x{ x * 2 }
  # => #<Proc:... (lambda)>

  dbl = -> x { x * 2 }
  # => #<Proc:... (lambda)>

  two = -> { 2 }
  # => #<Proc:... (lambda)>

  dbl = -> (x) { x * 2 }
  # => Syntax error, unexpected tLPAREN_ARG, expecting keyword_do_LAMBDA or tLAMBEG

  two = -> () { 2 }
  # => Same syntax error
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.onto.title %}</h3>
    <p>{% t pages.gotchas.onto.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.onto.title %}</p>
{% highlight ruby %}
  class Foo
    attr_reader :value

    def initialize(v)
    value = v
    end

    def set_val(v)
    @value = v
    end
  end

  f = Foo.new(3)
  f.value
  # => nil
  # not 3?!

  f.set_val 5
  # => 5

  f.value
  # => 5
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.variables.title %}</h3>
    <p>{% t pages.gotchas.variables.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.variables.title %}</p>
{% highlight ruby %}
  class Parent
    @@value = 6

    def self.value
      @@value
    end

    def self.inc_value
      @@value += 1
    end
  end

  class Child < Parent
    @@value = 42
  end

  Parent.value
  # => 42
  # => wtf?

  Parent.inc_value
  Child.value
  # => 43
  # => wtf?!
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.initialize.title %}</h3>
    <p>{% t pages.gotchas.initialize.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.initialize.title %}</p>
{% highlight ruby %}
  class Parent
    def initialize
      puts "Parent init"
    end
  end

  class NoInitChild < Parent; end

  NoInitChild.new
  # => Parent init

  class NormalChild < Parent
    def initialize
      puts "NormalChild init"
    end
  end

  NormalChild.new
  # => "NormalChild init"

  class SuperChild < Parent
    def initialize
      puts "SuperChild"
      super
      puts "init"
    end
  end

  SuperChild.new
  # => SuperChild
  # => Parent init
  # => init
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.superman.title %}</h3>
    <p>{% t pages.gotchas.superman.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.superman.title %}</p>
{% highlight ruby %}
  class Parent
    def add(*args)
      args.inject :+
    end
  end

  class Child2 < Parent
    def add(arg1, arg2)
      super(arg1, arg2)
    end
  end

  class Child4 < Parent
    def add(a1, a2, a3, a4)
      super
      # => no args!
    end
  end

  Child2.new.add(1, 2, 3, 5)
  # => ArgumentError: wrong number of arguments (4 for 2)

  Child2.new.add(1, 2)
  # => 3

  Child4.new.add(1, 2, 3, 5)
  # => 11
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.regexp.title %}</h3>
    <p>{% t pages.gotchas.regexp.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.regexp.title %}</p>
{% highlight ruby %}
  str = "One\nTwo\nThree"

  str =~ /^Two$/
  # => 4

  str =~ /\ATwo\Z/
  # => nil

  str =~ /\AOne/
  # => 0

  str =~ /Three\Z/
  # => 8
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.any.title %}</h3>
    <p>{% t pages.gotchas.any.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.any.title %}</p>
{% highlight ruby %}
  [].any?
  # => false

  [1].any?
  # => true

  [:foo, :bar].any?
  # => true

  # ok so far, BUT:

  [nil].any?
  # => false

  [false].any?
  # => false

  [false, nil].any?
  # => false
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.undef.title %}</h3>
    <p>{% t pages.gotchas.undef.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.undef.title %}</p>
{% highlight ruby %}
  3.times do |loop_num|
    sum ||= 0
    sum += 1
    puts sum
  end
  # => 1
  # => 1
  # => 1

  for loop_num in 1..3
    sum ||= 0
    sum += 1
    puts sum
  end
  # => 1
  # => 2
  # => 3
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.freeze.title %}</h3>
    <p>{% t pages.gotchas.freeze.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.freeze.title %}</p>
{% highlight ruby %}
  arr = ["one", "two", "three"]
  arr.freeze
  arr << "four"
  # => RuntimeError: can't modify frozen Array

  arr[0] = "eno"
  # => RuntimeError: can't modify frozen Array

  arr[0].object_id
  # => 1234567890

  arr[0].reverse!
  arr
  # => ["eno", "two", "three"]

  arr[0].object_id
  # => 1234567890
{% endhighlight %}
    </div>
  </article>

  {% include sponsors/728x90.html %}

  <article>
    <h3>{% t pages.gotchas.one_is_one.title %}</h3>
    <p>{% t pages.gotchas.one_is_one.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.one_is_one.title %}</p>
{% highlight ruby %}
  arr = [1, 2, 3, 4]
  arr.freeze
  # => [1, 2, 3, 4]

  arr << 5
  # => RuntimeError: can't modify frozen Array

  arr[0] += 2
  # => RuntimeError: can't modify frozen Array

  1.object_id
  # => 3

  3.object_id
  # => 7
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.bang.title %}</h3>
    <p>{% t pages.gotchas.bang.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.bang.title %}</p>
{% highlight ruby %}
  str = "foo"
  str.upcase
  # => ”FOO”

  str
  # => ”foo”

  str.upcase!
  # => ”FOO”

  str
  # => ”FOO”
  # => Now that it’s already FOO:

  str.upcase!
  # => nil
  # => ?!

  str
  # => ”FOO”
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.array.title %}</h3>
    <p>{% t pages.gotchas.array.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.array.title %}</p>
{% highlight ruby %}
  class Person
    attr_accessor :name
  end

  people = Array.new(3, Person.new)
  people[0].name = "Alice"
  people[1].name = "Bob"
  people[0].name
  # => "Bob"
  # => should have been "Alice"!

  people = Array.new(3) { Person.new }
  people[0].name = "Alice"
  people[1].name = "Bob"
  people[0].name
  # => "Alice"
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.hash.title %}</h3>
    <p>{% t pages.gotchas.hash.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.hash.title %}</p>
{% highlight ruby %}
  langs = Hash.new []
  langs[:jane] << "Java"
  langs[:rachel] << "Ruby"

  langs[:jane]
  # => ["Java", "Ruby"]

  langs[:rachel]
  # => ["Java", "Ruby"]

  langs = Hash.new { |h, k| h[k] = [] }
  langs[:jane] << "Java"
  langs[:rachel] << "Ruby"

  langs[:jane]
  # => ["Java"]

  langs[:rachel]
  # => ["Ruby"]
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.rescue.title %}</h3>
    <p>{% t pages.gotchas.rescue.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.rescue.title %}</p>
{% highlight ruby %}
  # JAVA:
  try {
    throw new MyException("blah");
  } catch(MyException e) {
    fix_it();
  }

  # RUBY:
  index = catch(:idx) {
    arr.each_with_index do |v, i|
      throw :idx, i if v == target
    end
    -1
  }

  begin
    raise MyException.new "blah"
  rescue MyException => e
    fix_it
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.to_str.title %}</h3>
    <p>{% t pages.gotchas.to_str.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.to_str.title %}</p>
{% highlight ruby %}
  string = "string"

  string.to_s
  # => "string"

  string.to_str
  # => "string"

  array = ['string']

  array.to_s
  # => "[\"string\"]"

  array.to_str
  # => NoMethodError: undefined method `to_str'
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.missing.title %}</h3>
    <p>{% t pages.gotchas.missing.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.missing.title %}</p>
{% highlight ruby %}
  class Dog
    def method_missing(method_name, *args, &block)
      if method_name == :bark
        'woof!'
      else
        super
      end
    end
  end

  Dog.new.bark
  # => "woof!"

  Dog.new.respond_to? :bark
  # => false
{% endhighlight %}
    </div>
    <p>{% t pages.gotchas.missing.respond_to %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.missing.title %}</p>
{% highlight ruby %}
  class Dog
    def method_missing(method_name, *args, &block)
      if method_name == :bark
        'woof!'
      else
        super
      end
    end

    def respond_to_missing?(method_name, *args)
      method_name == :bark or super
    end
  end

  Dog.new.bark
  # => "woof!"

  Dog.new.respond_to? :bark
  # => true
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.exception.title %}</h3>
    <p>{% t pages.gotchas.exception.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.exception.title %}</p>
{% highlight ruby %}
  begin
    foo
  rescue StandardError => e
    logger.warn "Unable to foo, will ignore: #{e}"
  end
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.private.title %}</h3>
    <p>{% t pages.gotchas.private.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.private.title %}</p>
{% highlight ruby %}
  class Orange
    def self.latin_name
      binomial_name
    end

    private

    def self.binomial_name
      'Malus domestica'
    end

    class << self
      private

      def private_binomial_name
        'Citrus × sinensis'
      end
    end
  end

  Orange.latin_name
  # => 'Malus domestica'

  Orange.binomial_name
  # => 'Malus domestica'
  # => wtf?!

  Orange.private_binomial_name
  # => ERROR! you can't call a private method.
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.braces.title %}</h3>
    <p>{% t pages.gotchas.braces.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.braces.title %}</p>
{% highlight ruby %}
  puts [1, 2, 3].map { |k| k + 1 }
  # => 2
  # => 3
  # => 4
  # => nil

  puts [1, 2, 3].map do |k| k + 1; end
  # <Enumerator:0x0000010a06d140>
  # => nil
{% endhighlight %}
    </div>
  </article>

  {% include sponsors/728x90.html %}

  <article>
    <h3>{% t pages.gotchas.module.title %}</h3>
    <p>{% t pages.gotchas.module.description %}</p>
    <div class="code-block">
      <p class="spec-title spec-correct">{% t pages.gotchas.module.title %}</p>
{% highlight ruby %}
  FOO = 123

  module Foo
    FOO = 555
  end

  module Foo
    class Bar
      def baz
        puts FOO
      end
    end
  end

  class Foo::Bar
    def glorf
      puts FOO
    end
  end

  Foo::Bar.new.baz
  # => 555

  Foo::Bar.new.glorf
  # => 123
{% endhighlight %}
    </div>
  </article>

  <article>
    <h3>{% t pages.gotchas.credits %}</h3>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1cqdp89_kolr4q1YAQaB-6i5GXip8MHyve8MvQ_1r6_s/edit#slide=id.gd9ccd329_00">{% t pages.gotchas.title %}</a>
      </li>
    </ul>
  </article>
</div>
