---
layout: default
---

{% include sidebar.html %}
{% include sponsors/300x600.html %}

<div class="content">
  {% include github.html %}

  <article>
    <h1>{% t pages.interview_questions.title %}</h1>
    <p>{% t pages.interview_questions.description %}</p>
  </article>

  <article>
    <h3>Ruby links for preparation:</h3>
    <ul>
      {%- for web in site.translations[site.lang].pages.interview_questions.list -%}
        <li><a href="{{ web.link }}"/>{{ web.name }}</a></li>
      {%- endfor -%}
    </ul>
  </article>
</div>
