<article>
  <div class="github-buttons">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/howtohireme/ruby.fundamental" data-size="large" data-show-count="true" aria-label="Star howtohireme/ruby.fundamental on GitHub">Star</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/howtohireme/ruby.fundamental/fork" data-size="large" data-show-count="true" aria-label="Fork howtohireme/ruby.fundamental on GitHub">Fork</a>
  </div>
</article>
