<article>
  <div class="github-buttons">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/symbiod/betterdocs" data-size="large" data-show-count="true" aria-label="Star symbiod/betterdocs on GitHub">Star</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/symbiod/betterdocs/fork" data-size="large" data-show-count="true" aria-label="Fork symbiod/betterdocs on GitHub">Fork</a>
  </div>
</article>
