<!-- <nav class="nav"> -->
<!-- <a class="item" href="{{ "/" }}"> -->
<!-- <img src="https://cdn1.iconfinder.com/data/icons/famfamfam_flag_icons/us.png" alt="english"> -->
<!-- </a> -->
<!-- <a class="item" href="{{ "/ru" }}"> -->
<!-- <img src="https://cdn1.iconfinder.com/data/icons/famfamfam_flag_icons/ru.png" alt="russian"> -->
<!-- </a> -->
<!-- </nav> -->

<!-- Yandex.Metrika counter -->
<noscript>
    <div>
        <img src="https://mc.yandex.ru/watch/{{ site.counters.yandex.metrica }}" class= "yandex-metrika-counter" alt="" />
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->

<h1 class="heading">
  <a href="/">Better Docs</a>
  <span>{ ruby tricks guideline }</span>
</h1>

