<title>{% t head.title %}</title>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Seo -->
<meta name="description" content="{% t head.metatags.description %}"/>
<meta name="keywords" content="{% t head.metatags.keywords %}"/>
<meta name="author" content="Marat Khusnetdinow, HowToHireMe"/>
<meta name="robots" content="index, follow"/>

<!-- Favicons -->
<link rel="shortcut icon" type="image/png" href="/favicon.png">

<!-- Styles -->
<link rel="stylesheet" href="/css/main.css">

<!-- JavaScript -->
<script src="/javascripts/vendor/modernizr-custom.js"></script>
