<button class='action action--open' aria-label='{% t content.menu.open %}'>
  <span class='icon icon--menu'></span>
</button>
<nav id='ml-menu' class='menu'>
  <button class='action action--close' aria-label='{% t content.menu.close %}'>
    <span class='icon icon--cross'></span>
  </button>
  <div class='menu__wrap'>
    <ul data-menu='main' class='menu__level'>
      {%- for menu in site.translations[site.lang].pages -%}
        {%- capture link -%}
          {%- if site.lang == 'en' -%}
            {{ site.baseurl_root }}{{ menu.url }}
          {%- else -%}
            {{ site.baseurl_root }}{{ site.lang}}/{{ menu.url }}
          {%- endif -%}
        {%- endcapture %}
        <li class='menu__item'>
          <a class='menu__link' href='{{ link }}'>{{ menu.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </div>
</nav>
