<button class="top-button" onclick="topFunction()">^</button>

<button class='action action--open' aria-label='{% t content.menu.open %}'>
  <span class='icon icon--menu'></span>
</button>

<nav class='menu'>
  <button class='action action--close' aria-label='{% t content.menu.close %}'>
    <span class='icon icon--cross'></span>
  </button>

  <div class='menu__wrap'>
    <ul data-menu='main' class='menu__level'>
      {%- for menu in site.translations[site.lang].sidebar -%}
        {%- capture link -%}
          {%- if site.lang == 'en' -%}
            {{ site.baseurl_root }}{{ menu.url }}
          {%- else -%}
            {{ site.baseurl_root }}{{ site.lang }}/{{ menu.url }}
          {%- endif -%}
        {%- endcapture -%}
        {% assign link = link | replace: '_', '-' %}
        {%- if site.lang == site.default_lang -%}
          {% assign location = link %}
        {%- else -%}
          {% assign location = link | remove_first: "/" | remove_first: site.lang %}
        {%- endif -%}
        {%- if page.url == location -%}
          <li class='menu-item menu__submenus'>
            <a class='menu__link menu__link--current' id='{{ link }}' hreflang="{{ site.lang }}" href='{{ site.url }}{{ link }}{{ site.format }}'>{{ menu.title }}</a>
        {%- else -%}
          <li class='menu-item'>
            <a class='menu__link' id='{{ link }}' hreflang="{{ site.lang }}" href='{{ site.url }}{{ link }}{{ site.format }}'>{{ menu.title }}</a>
        {%- endif -%}
          <ul class="submenus">
            {%- for submenu in menu.submenus -%}
              {%- if submenu.submenus -%}
                <h4>{{ site.translations[site.lang].pages[menu.url][submenu.key].title }}</h4>
                <ul class="internal">
                  {% assign subs = submenu.submenus %}
                  {%- for sub in subs -%}
                  <li>
                    <a hreflang="{{ site.lang }}" href="{{ site.url }}{{ link }}{{ site.format }}#{{ sub | replace: '_', '-' }}">
                      {{ site.translations[site.lang].pages[menu.url][submenu.key][sub].title }}
                    </a>
                  </li>
                  {%- endfor -%}
                </ul>
              {%- else -%}
                <li>
                  <a hreflang="{{ site.lang }}" href="{{ site.url }}{{ link }}{{ site.format }}#{{ submenu | replace: '_', '-' }}">
                    {{ site.translations[site.lang].pages[menu.url][submenu].title }}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </li>
      {%- endfor -%}
    </ul>

    {% include locales.html %}
    {% include github.html %}
    {% include sponsors/234x60.html %}
  </div>
</nav>
