// Variables

$c-white: #ffffff;
$c-red: #d73333;
$c-bg: #1c1d22;

// Header
.l-header {
  position: relative;
  height: 70px;
  line-height: 70px;
  background-color: $l-header-color;

  .heading {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
    font-size: 1.25em;
    letter-spacing: 2px;
    text-transform: uppercase;

    span {
      font-size: .40em;
      color: $heading-span-color;
    }
  }

  .yandex-metrika-counter {
    position: absolute;
    left: -9999px;
  }

  .nav {
    padding-right: 2em;
    float: right;
    text-align: right;

    .item {
      position: relative;
      display: inline-block;
      margin: 0 .1em;
      padding: .3em 0;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      font-size: .9em;
      text-align: center;
    }
  }
}

.l-content {
  position: relative;
  min-height: 100%;
}

@media screen and (max-width: 50em) {
  .nav {
    display: none;
  }
}

// Menu styles
.menu {
  position: absolute;
  display: block;
  width: 250px;
  background: $menu-bg;
  top: 0;
  left: 0;
  bottom: 0;

  &__wrap {
    padding-top: 50px;
  }

  &__level {
    margin: 0;
    padding: 0;
    padding-bottom: 3em;
    list-style-type: none;

    &--current {
      visibility: visible;
    }
  }

  .submenus {
    display: none;
    font-size: 14px;

    a {
      &:hover,
      &[data-submenu]:hover::after {
        color: $c-red;
      }
    }
  }

  &__submenus {
    .submenus {
      display: block;

      h4 {
        margin: 5px;
      }

      .internal {
        padding: 0;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: .5em 2.5em .5em 1.5em;
    font-weight: 400;
    color: $menu-link-color;
    -webkit-transition: color .1s;
    transition: color .1s;

    &:hover,
    &[data-submenu]:hover::after {
      color: $c-red;
    }

    &--current::before {
      position: absolute;
      height: 4px;
      font-size: 3.5em;
      line-height: 0;
      color: $c-red;
      content: "\00B7";
      left: .12em;
      top: 50%;

      + .submenus {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 50em) {
  .menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    z-index: 1000;

    &--open {
      position: fixed;
      width: 100%;
      height: 100vh;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      .submenus {
        display: none;
      }
    }
  }
}

// Action
.action {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--open {
    position: fixed;
    display: none;
    font-size: 1.5em;
    color: $action-open-color;
    right: 1em;
    top: 1em;
    z-index: 1000;
  }

  &--close {
    display: none;
    font-size: 1.1em;
    color: $action-close-color;
    right: 1em;
    top: 1.25em;
  }
}

@media screen and (max-width: 50em) {
  .action--open,
  .action--close {
    display: block;
  }
}

// Content
.content {
  position: relative;
  margin: 0 0 0 250px;
  padding: 50px 0;
  max-width: 750px;
  min-height: 300px;

  &--loading {
    background: url("../images/loading.svg") no-repeat 50% 50%;
  }

  article {
    margin: 0 2em 1em;
    font-size: 1em;
    color: $content-article-color;

    h1 {
      margin-top: 0;
      font-weight: 400;
      color: $content-article-h1-color;
    }

    .info {
      padding: .7em 1em;
      border: 1px solid $content-article-inf0-border;
      border-radius: 5px;
      background-color: $content-article-info-bg;
    }
  }
}

@media screen and (max-width: 50em) {
  .content {
    margin: 0;
  }
}

// Body
body {
  .spec-title {
    margin: 0;
    padding: .8em 1.5em;
    border: 1px solid $body-spec-title-border;
    border-bottom: 0;
    font-size: .9em;
    background-color: $body-spec-title-bg;
    text-transform: uppercase;
  }

  .code-block {
    padding: .5em 0;
  }

  .code-inline {
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 2px;
    font-size: smaller;
    color: $body-code-inline-color;
    background: $body-code-inline-bg;
    white-space: nowrap;
  }

  .spec-wrong {
    color: $body-spec-wrong-color;
  }

  .spec-correct {
    color: $body-spec-correct-color;
  }
}

// Icons
@font-face {
  font-family: "feather";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/feather/feather.eot?1gafuo");
  src: url("../fonts/feather/feather.eot?1gafuo#iefix") format("embedded-opentype"), url("../fonts/feather/feather.woff2?1gafuo") format("woff2"), url("../fonts/feather/feather.ttf?1gafuo") format("truetype"), url("../fonts/feather/feather.woff?1gafuo") format("woff"), url("../fonts/feather/feather.svg?1gafuo#feather") format("svg");
}

.icon {
  font-family: "feather";
  font-weight: normal;
  // Better Font Rendering ===========
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  speak: none;

  &--arrow-left::before {
    content: "\e901";
  }

  &--menu::before {
    content: "\e903";
  }

  &--cross::before {
    content: "\e117";
  }
}

// Animation
[class^="animate-"],
[class*=" animate-"] {
  visibility: visible;
}

.animate-out-to-right .menu-item {
  -webkit-animation: out-to-right .6s both cubic-bezier(.7, 0, .3, 1);
  animation: out-to-right .6s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes out-to-right {
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes out-to-right {
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.animate-out-to-left .menu-item {
  -webkit-animation: out-to-left .6s both cubic-bezier(.7, 0, .3, 1);
  animation: out-to-left .6s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes out-to-left {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes out-to-left {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-in-from-left .menu-item {
  -webkit-animation: in-from-left .6s both cubic-bezier(.7, 0, .3, 1);
  animation: in-from-left .6s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes in-from-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes in-from-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate-in-from-right .menu-item {
  -webkit-animation: in-from-right .6s both cubic-bezier(.7, 0, .3, 1);
  animation: in-from-right .6s both cubic-bezier(.7, 0, .3, 1);
}

@-webkit-keyframes in-from-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes in-from-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// Producs
.products {
  margin: 0;
  padding: 2em;
  text-align: center;
}

.product {
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background: $product-bg;

  .foodicon {
    font-size: 4em;
    line-height: 190px;
    color: $fodicon-color;
  }
}

// Site header
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
}

.site-title {
  margin-bottom: 0;
  float: left;
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  @include media-query($on-palm) {
    position: absolute;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    background-color: $background-color;
    right: $spacing-unit / 2;
    top: 9px;

    .menu-icon {
      display: block;
      padding-top: 10px;
      width: 36px;
      height: 26px;
      float: right;
      line-height: 0;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      display: none;
      clear: both;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;
    color: $text-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// Site footer
.site-footer {
  padding: $spacing-unit 0;
  border-top: 1px solid $grey-color-light;
}

.footer-heading {
  margin-bottom: $spacing-unit / 2;
  font-size: 18px;
}

.contact-list,
.social-media-list {
  margin-left: 0;
  list-style: none;
}

.footer-col-wrapper {
  @extend %clearfix;
  margin-left: -$spacing-unit / 2;
  font-size: 15px;
  color: $grey-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  float: left;
}

// scss-lint:disable DuplicateProperty
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

// scss-lint:disable DuplicateProperty
.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

// scss-lint:disable DuplicateProperty
.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

// scss-lint:disable DuplicateProperty
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// scss-lint:disable DuplicateProperty
@include media-query($on-palm) {
  .footer-col {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
    float: none;
  }
}

// Page content
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Posts
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  line-height: 1;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

article,
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
    color: $c-white !important;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    color: $c-white !important;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    color: $c-white !important;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.book {
  position: relative;
  overflow: hidden;

  .image {
    width: 20%;
  }

  .description {
    width: 75%;
    float: right;
  }
}

.github-buttons {
  text-align: center;
}

.top-button {
  position: fixed;
  display: none;
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 15px;
  border: 0;
  font-size: 30px;
  font-weight: bold;
  color: $c-white;
  background-color: $c-red;
  cursor: pointer;
  bottom: 20px;
  right: 32px;
  z-index: 99;
  outline: none;

  &:hover {
    background-color: $c-bg;
  }
}
