// Variables

$complexity-border: #808080;
$th-border: #808080;

.complexity {
  border: 1px solid $complexity-border;
  border-spacing: 0;

  > thead,
  > tbody {
    > tr {
      > td,
      > th {
        padding: .25em;
        border: 1px solid $th-border;
      }
    }
  }
}
