// Variables
$pre-border: rgb(70, 70, 70);
$pre-bg: rgba(49, 50, 56, .97);

$hll-bg: #272822;
$c-color: #75715e;
$err-bg: #1e0010;
$err-color: #960050;
$k-color: #66d9ef;
$l-color: #ae81ff;
$n-color: #f8f8f2;
$o-color: #f92672;
$p-color: #f8f8f2;
$cm-color: #75715e;
$cp-color: #75715e;
$c1-color: #75715e;
$cs-color: #75715e;
$kc-color: #66d9ef;
$kd-color: #66d9ef;
$kn-color: #f92672;
$kp-color: #66d9ef;
$kr-color: #66d9ef;
$kt-color: #66d9ef;
$ld-color: #e6db74;
$m-color: #ae81ff;
$s-color: #e6db74;
$na-color: #a6e22e;
$nb-color: #f8f8f2;
$nc-color: #a6e22e;
$no-color: #66d9ef;
$nd-color: #a6e22e;
$ni-color: #f8f8f2;
$ne-color: #a6e22e;
$nf-color: #a6e22e;
$nl-color: #f8f8f2;
$nn-color: #f8f8f2;
$nx-color: #a6e22e;
$py-color: #f8f8f2;
$nt-color: #f92672;
$nv-color: #f8f8f2;
$ow-color: #f92672;
$w-color: #f8f8f2;
$mf-color: #ae81ff;
$mh-color: #ae81ff;
$mi-color: #ae81ff;
$mo-color: #ae81ff;
$sb-color: #e6db74;
$sc-color: #e6db74;
$sd-color: #e6db74;
$s2-color: #e6db74;
$se-color: #ae81ff;
$sh-color: #e6db74;
$si-color: #e6db74;
$sx-color: #e6db74;
$sr-color: #e6db74;
$s1-color: #e6db74;
$ss-color: #e6db74;
$bp-color: #f8f8f2;
$vc-color: #f8f8f2;
$vg-color: #f8f8f2;
$vi-color: #f8f8f2;
$il-color: #ae81ff;
$gu-color: #75715e;
$gd-color: #f92672;
$gi-color: #a6e22e;

// Highlight
.highlight {
  margin: 0;

  pre {
    margin: 0;
    padding: 1em 1.5em;
    border: 1px solid $pre-border;
    line-height: 1.5em;
    background-color: $pre-bg;
    overflow-x: auto;
    .hll { background-color: $hll-bg; }
    .c { color: $c-color; } // Comment
    .err {
      color: $err-color;
      background-color: $err-bg;
    } // Error
    .k { color: $k-color; } // Keyword
    .l { color: $l-color; } // Literal
    .n { color: $n-color; } // Name
    .o { color: $o-color; } // Operator
    .p { color: $p-color; } // Punctuation
    .cm { color: $cm-color; } // Comment.Multiline
    .cp { color: $cp-color; } // Comment.Preproc
    .c1 { color: $c1-color; } // Comment.Single
    .cs { color: $cs-color; } // Comment.Special
    .ge { font-style: italic; } // Generic.Emph
    .gs { font-weight: bold; } // Generic.Strong
    .kc { color: $kc-color; } // Keyword.Constant
    .kd { color: $kd-color; } // Keyword.Declaration
    .kn { color: $kn-color; } // Keyword.Namespace
    .kp { color: $kp-color; } // Keyword.Pseudo
    .kr { color: $kr-color; } // Keyword.Reserved
    .kt { color: $kt-color; } // Keyword.Type
    .ld { color: $ld-color; } // Literal.Date
    .m { color: $m-color; } // Literal.Number
    .s { color: $s-color; } // Literal.String
    .na { color: $na-color; } // Name.Attribute
    .nb { color: $nb-color; } // Name.Builtin
    .nc { color: $nc-color; } // Name.Class
    .no { color: $no-color; } // Name.Constant
    .nd { color: $nd-color; } // Name.Decorator
    .ni { color: $ni-color; } // Name.Entity
    .ne { color: $ne-color; } // Name.Exception
    .nf { color: $nf-color; } // Name.Function
    .nl { color: $nl-color; } // Name.Label
    .nn { color: $nn-color; } // Name.Namespace
    .nx { color: $nx-color; } // Name.Other
    .py { color: $py-color; } // Name.Property
    .nt { color: $nt-color; } // Name.Tag
    .nv { color: $nv-color; } // Name.Variable
    .ow { color: $ow-color; } // Operator.Word
    .w { color: $w-color; } // Text.Whitespace
    .mf { color: $mf-color; } // Literal.Number.Float
    .mh { color: $mh-color; } // Literal.Number.Hex
    .mi { color: $mi-color; } // Literal.Number.Integer
    .mo { color: $mo-color; } // Literal.Number.Oct
    .sb { color: $sb-color; } // Literal.String.Backtick
    .sc { color: $sc-color; } // Literal.String.Char
    .sd { color: $sd-color; } // Literal.String.Doc
    .s2 { color: $s2-color; } // Literal.String.Double
    .se { color: $se-color; } // Literal.String.Escape
    .sh { color: $sh-color; } // Literal.String.Heredoc
    .si { color: $si-color; } // Literal.String.Interpol
    .sx { color: $sx-color; } // Literal.String.Other
    .sr { color: $sr-color; } // Literal.String.Regex
    .s1 { color: $s1-color; } // Literal.String.Single
    .ss { color: $ss-color; } // Literal.String.Symbol
    .bp { color: $bp-color; } // Name.Builtin.Pseudo
    .vc { color: $vc-color; } // Name.Variable.Class
    .vg { color: $vg-color; } // Name.Variable.Global
    .vi { color: $vi-color; } // Name.Variable.Instance
    .il { color: $il-color; } // Literal.Number.Integer.Long
    // .gh { } // Generic Heading & Diff Header
    .gu { color: $gu-color; } // Generic.Subheading & Diff Unified/Comment?
    .gd { color: $gd-color; } // Generic.Deleted & Diff Deleted
    .gi { color: $gi-color; } // Generic.Inserted & Diff Inserted
  }
}
